html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: #FED715;
}

h1, h2, h3 {
  font-family: 'Bangers', cursive;
  letter-spacing: 4px;
  color: var(--red);
  text-shadow: 2px 2px 0px var(--yellow);
  margin-bottom: 0;
}

:root {
  --red: #FE0879;
  --pink: #FF82E2;
  --yellow: #FED715;
  --blue: #0037B3;
  --light-blue: #70BAFF;
}


p {
  line-height: 1.5;
  color: var(--yellow);
}

a {
  color:var( --red);
}

* {
  box-sizing: border-box;
}

hr { 
  margin: 2rem 0;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
}