.root {
  /* border: 4px dashed #FF748A;
  border-radius: 12px; */
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--blue);
  border-radius: 16px;
  flex-grow: 1;
  margin-top: 16px;
  color: var(--yellow);
  box-shadow: 12px 12px 0px var(--pink);
  ;
}

.wallet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--pink);
  border-radius: 16px;
  flex-grow: 1;

}

.root > img {
  max-width: 33%;
  margin-right: 2em;
}

.blits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blits > img {
  width: 100%;
  height: auto;
  cursor: pointer;
}